<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
</head>
<body>
    <h1>Chatbot</h1>
    <div id="chat-box">
        <input id="message" type="text" placeholder="Type a message">
    <button id="send">Send</button>
    <p></p>
    </div>
    
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            socket.emit('join', {});
        });

        socket.on('message', function(msg) {
            $('#chat-box').append($('<p>').text(msg));
        });

        $('#send').on('click', function() {
            var message = $('#message').val();
            socket.emit('message', message);
            $('#message').val('');
        });
    </script>
</body>
</html>
